---
import { client } from '../../../tina/__generated__/client';

import { formatDate } from '../../utils/formatDate';

import Layout from '../../layouts/Layout.astro';

const postsRes = await client.queries.postConnection();

const posts = postsRes.data.postConnection.edges
	?.map((post: any) => {
		return {
			title: post?.node?.title,
			summary: post?.node?.summary.children[0].children[0].text,
			slug: post?.node?._sys.filename,
			tags: post?.node?.tags,
			posted: post?.node?.posted,
			published: post?.node?.published
		};
	})
	.sort((a, b) => new Date(b.posted).getTime() - new Date(a.posted).getTime());
---

<Layout
	title='Laurent. | Blog'
	description="Laurent's Blog"
	url='https://laurentcodes.xyz/blog/'
	image='blog'
	type='website'
>
	<main class='md:px-24 md:py-6'>
		{
			posts?.length === 0 && (
				<div class='flex justify-center items-center h-[calc(100vh-150px)]'>
					<h3 class='text-xl font-bold'>No Posts Available Yet</h3>
				</div>
			)
		}

		{
			posts
				?.filter((post) => post.published === true)
				.map((post) => (
					<div class='flex flex-col py-3'>
						<p class='text-yellow-500 text-sm mb-1'>
							{formatDate(post?.posted || '')}
						</p>

						<h3 class='font-bold hover:text-blue-800 transition-all ease-in duration-150'>
							<a href={`/blog/${post.slug}`}>{post.title}</a>
						</h3>

						<p class='text-gray-400 md:w-[80%] text-sm md:text-base'>
							{post.summary}
						</p>

						{post.tags && (
							<span class='flex text-sm'>
								<p class='italic mr-2'>tags:</p>

								{post.tags.map((tag: string, index: number) => (
									<p class='text-blue-400'>
										{index ? ',' : ''}
										{tag}
									</p>
								))}
							</span>
						)}
					</div>
				))
		}
	</main>
</Layout>
