---
const path = Astro.url.pathname;

import ThemeToggle from './ThemeToggle';
---

<main
	class='md:px-12 flex flex-col md:flex-row justify-between h-[130px] md:h-[50px] items-center sticky top-0 left-0 right-0 bg-white dark:bg-gray-900 bg-opacity-60 dark:bg-opacity-60 py-3'
>
	<div class='flex flex-col justify-center items-center'>
		<span class='hover:cursor-pointer block md:hidden'>
			<ThemeToggle client:load />
		</span>

		<h2 id='logo' class='font-bold text-xl hover:cursor-pointer mb-4'>
			<a href='/'>Laurent. 👋</a>
		</h2>
	</div>

	{
		path.startsWith('/blog') && (
			<h2>
				<a href='/blog'>Blog</a>
			</h2>
		)
	}

	{
		!path.startsWith('/blog') && (
			<ul class='flex gap-6 justify-center items-center'>
				<>
					<li class='hover:cursor-pointer hover:underline text-sm md:text-base'>
						About
					</li>
					<li class='hover:cursor-pointer hover:underline text-sm md:text-base'>
						Projects
					</li>
					<li class='hover:cursor-pointer hover:underline text-sm md:text-base'>
						Skills
					</li>
					<li class='hover:cursor-pointer hover:underline text-sm md:text-base'>
						Contact
					</li>
					<li class='hover:cursor-pointer hover:underline text-sm md:text-base'>
						<a href='/blog'>Blog</a>
					</li>
					<li class='hover:cursor-pointer hidden md:block'>
						<ThemeToggle client:load />
					</li>
				</>
			</ul>
		)
	}
</main>

<script>
	const logoBtn = document.getElementById('logo');
	const projectBtns = document.getElementsByTagName('li');

	const hero = document.getElementById('hero');
	const about = document.getElementById('about');
	const projects = document.getElementById('projects');
	const skills = document.getElementById('skills');
	const contact = document.getElementById('contact');

	logoBtn?.addEventListener('click', () => hero?.scrollIntoView());
	projectBtns[0]?.addEventListener('click', () => about?.scrollIntoView());
	projectBtns[1]?.addEventListener('click', () => projects?.scrollIntoView());
	projectBtns[2]?.addEventListener('click', () => skills?.scrollIntoView());
	projectBtns[3]?.addEventListener('click', () => contact?.scrollIntoView());
</script>
