---
import { Image } from 'astro:assets';

import arrow from '../images/right-arrow.svg';
---

<main
	id='projects'
	class='flex md:h-screen justify-center items-center projects'
>
	<div class='w-full md:w-[50%] grid grid-cols-3 gap-3'>
		<div
			class='bg-[#5643C1] flex flex-col col-span-3 md:col-span-1 gap-3 rounded-md p-6 md:h-[150px] text-white'
		>
			<p class='text-base md:text-xs'>Javascript, HTML & CSS</p>
			<p class='text-3xl md:text-2xl'>
				<a
					class='hover:underline'
					href='https://todoside.netlify.app'
					target='_blank'
				>
					TodoSide
				</a>
			</p>
		</div>

		<div
			class='bg-[#F2994A] flex flex-col col-span-3 md:col-span-1 gap-3 rounded-md p-6 md:h-[150px] text-white'
		>
			<p class='text-base md:text-xs'>NextJS, Tailwind, HTML, MongoDB</p>
			<p class='text-3xl md:text-2xl'>
				<a
					class='hover:underline'
					href='https://www.infinix-spinner.com'
					target='_blank'
				>
					Infinix Spinner
				</a>
			</p>
		</div>

		<div
			class='bg-[#55c57a] flex flex-col col-span-3 md:col-span-1 gap-3 rounded-md p-6 md:h-[150px] text-white'
		>
			<p class='text-base md:text-xs'>Node, ExpressJS, Pug, MongoDB</p>
			<p class='text-3xl md:text-2xl'>
				<a
					class='hover:underline'
					href='https://natours-7avo.onrender.com'
					target='_blank'
				>
					Natours
				</a>
			</p>
		</div>

		<div
			class='bg-[#80ed98] flex flex-col col-span-3 md:col-span-1 gap-3 rounded-md p-6 md:h-[150px] text-white'
		>
			<p class='text-base md:text-xs'>Javascript, HTML & CSS, API</p>
			<p class='text-3xl md:text-2xl'>
				<a
					class='hover:underline'
					href='https://usdtocurrency.netlify.app'
					target='_blank'
				>
					Currency Converter
				</a>
			</p>
		</div>

		<div
			class='bg-[#e63946] flex flex-col col-span-3 md:col-span-1 gap-3 rounded-md p-6 md:h-[150px] text-white'
		>
			<p class='text-base md:text-xs'>Wordpress, PHP</p>
			<p class='text-3xl md:text-2xl'>
				<a
					class='hover:underline'
					href='https://publicsphereng.com'
					target='_blank'
				>
					Public Sphere NG
				</a>
			</p>
		</div>

		<div
			class='bg-[#8FCEF8] flex flex-col col-span-3 md:col-span-1 gap-3 rounded-md p-6 md:h-[150px] text-white'
		>
			<p class='text-base md:text-xs'>NestJS, TypeScript, SQLite</p>
			<p class='text-3xl md:text-2xl'>
				<a
					class='hover:underline'
					href='https://github.com/laurentcodes/car-value-estimate'
					target='_blank'
				>
					Car Value API
				</a>
			</p>
		</div>

		<div
			class='bg-[#FBC603] flex flex-col col-span-3 md:col-span-1 gap-3 rounded-md p-6 md:h-[150px] text-white'
		>
			<p class='text-base md:text-xs'>Flutter, Dart</p>
			<p class='text-3xl md:text-2xl'>
				<a
					class='hover:underline'
					href='https://github.com/laurentcodes/weather-app'
					target='_blank'
				>
					Weather App
				</a>
			</p>
		</div>

		<div
			class='bg-[#03045e] flex flex-col col-span-3 md:col-span-1 gap-3 rounded-md p-6 md:h-[150px] text-white'
		>
			<p class='text-base md:text-xs'>Express, MongoDB, Amazon S3</p>
			<p class='text-3xl md:text-2xl'>
				<a
					class='hover:underline'
					href='https://github.com/laurentcodes/tech-assessment-social-api'
					target='_blank'
				>
					Social API
				</a>
			</p>
		</div>

		<div
			class='bg-[#2F80ED] flex flex-col col-span-3 md:col-span-1 gap-3 rounded-md p-6 md:h-[150px] text-white'
		>
			<p class='text-3xl md:text-2xl'>
				<a
					class='hover:underline'
					href='https://github.com/laurentcodes'
					target='_blank'
				>
					See all projects.
				</a>
			</p>

			<span class='w-full'>
				<Image
					class='w-12 h-12 md:w-8 md:h-8 float-right rounded-full border'
					src={arrow}
					alt='Icon'
				/>
			</span>
		</div>
	</div>
</main>
